body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "open-sans", sans-serif;
  background-color: #f7f6f3;
  color: #1f2937;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
